body,
html,
#root {
  height: 100%;
  background-color: #27282c
}

html {
  font-size: 18px;
}

h1 {
  padding: 1rem 0;
  background-color: #27282c;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.9rem;
  color: #fff;
}

h1 .highlight {
  color: #f7af13;
  transition: color .25s;
}

h1 .highlight:hover {
  color: rgba(108, 65, 233, .7);
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.App {
  height: 100%;
  padding: 0 10% 10% 10%;
  background-color: #27282c;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1120px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}