.Playlists {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-height: 800px;
    padding: 1rem;
    background-color: #2a2a2e;
    box-shadow: 0 8px 15px 1px #000000;
    border-radius: 10px;
  }

  .Playlists h2 {
    text-align: center;
    padding-bottom: 2rem;
  }

  .Scroll {
    overflow-y: scroll;
    /* border-radius: 10px; */
  }

  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1120px) {
    .Playlists {
      width: 90%;
      margin-bottom: 2rem;
    }
  }