.SearchBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
  
  .SearchBar input {
    flex-grow: 1;
    min-width: 260px;
    padding: .40rem 0;
    border: 0;
    border-radius: 20px;
    background: #232325;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin: .5rem 0.1rem;
  }
  
  .SearchBar input:focus {
    outline: none;
  }
  
  .SearchButton {
    cursor: pointer;
    width: 6rem;
    padding: .55rem 0;
    border-radius: 54px;
    border: 0px;
    margin: .5rem;
    background-color: #f7af13;
    text-align: center;
    font-size: .80rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
  }
  
  .SearchButton:hover,
  .SearchButton:focus {
    background-color: rgba(108, 65, 233, .7);
  }