.Playlist {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-height: 800px;
    padding: 1rem 1.16rem;
    background-color: #2a2a2e;
    box-shadow: 0 8px 15px 1px #000000;
    border-radius: 10px;
  }

  .Playlist h2 {
    text-align: center;
    padding-bottom: 2rem;
  }

  .Scroll {
    overflow-y: scroll;
    /* border-radius: 10px; */
  }
  
  .Playlist input {
    width: 100%;
    padding: .40rem 0;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 20px;
    outline: 0;
    background: #232325;
    font-size: 1rem;
    color: #fff;
    text-indent: 3%;
  }

  .PlaylistButtons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 6rem;
    padding: .55rem 0;
    border-radius: 54px;
    border: 0px;
    margin: .5rem;
    background-color: #f7af13;
    text-align: center;
    font-size: .80rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
  }
  
  .Playlist-save:hover {
    background-color: rgba(108, 65, 233, .7);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1120px) {
    .Playlist {
      width: 90%;
      margin-bottom: 2rem;
    }
  }